.COTTON
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}
.CHARLES
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}
.CHARLES
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}
.BETTY
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}
.COTTON
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}
.ADONIJAH
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
    text-align: left;
    background-color: aqua;
}